* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: black;
  overflow: hidden;
  position: relative;
}

.conteiner_cortinas {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: space-between;
  z-index: 20;
}

.pano {
  width: 50%;
  height: 100vh;

  /* Dobras do tecido (listras verticais em vermelho claro/escuro) */
  background: repeating-linear-gradient(
    to right,
    #a60000 0px,
    #cc0000 20px,
    #a60000 40px
  );

  /* Sombra para dar profundidade */
  box-shadow: inset -30px 0 40px rgba(0,0,0,0.6);
  transition: transform 3s ease-in-out;
}

/* Ajustes individuais */


.pano.direita {
  box-shadow: inset 30px 0 40px rgba(0,0,0,0.6);
}

/* Estado aberto */
.conteiner_cortinas.aberta .pano.esquerda {
  transform: translateX(-100%);
  pointer-events: none;
}

.conteiner_cortinas.aberta .pano.direita {
  transform: translateX(100%);
  pointer-events: none;
}

/* --cortinas-- */

.conteiner_holofote{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 2; /* atrás das cortinas */
}

.holofote_center{
  width: 15%;
  height: 90%;
  background: radial-gradient(
    ellipse at top,
    rgba(255, 255, 200, 0.5) 0%,
    rgba(255, 255, 180, 0.2) 50%,
    rgba(255, 255, 150, 0.1) 80%,
    rgba(255, 255, 150, 0) 100%
  );
  border-top-right-radius: 100%;
  border-top-left-radius: 100%;
  box-shadow: 0px 0px 10px rgba(255, 255, 150, 0.2);
  filter: blur(20px);
}

.holofote_right{
  width: 15%;
  height: 90%;
  background: radial-gradient(
    ellipse at top,
    rgba(255, 255, 200, 0.5) 0%,
    rgba(255, 255, 180, 0.2) 50%,
    rgba(255, 255, 150, 0.1) 80%,
    rgba(255, 255, 150, 0) 100%
  );
  border-top-right-radius: 100%;
  border-top-left-radius: 100%;
  box-shadow: 0px 0px 10px rgba(255, 255, 150, 0.2);
  filter: blur(20px);
  rotate: 15deg;
  transform: translateX(-10%);
}

.holofote_left{
  width: 15%;
  height: 90%;
  background: radial-gradient(
    ellipse at top,
    rgba(255, 255, 200, 0.5) 0%,
    rgba(255, 255, 180, 0.2) 50%,
    rgba(255, 255, 150, 0.1) 80%,
    rgba(255, 255, 150, 0) 100%
  );
  border-top-right-radius: 100%;
  border-top-left-radius: 100%;
  box-shadow: 0px 0px 10px rgba(255, 255, 150, 0.2);
  filter: blur(20px);
  rotate: -15deg;
  transform: translateX(10%);
}


/* Texto do palco */
.palco-texto{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: gold;
  font-size: 2.8rem;
  font-family: "Georgia", serif;
  opacity: 0;
  text-shadow: 2px 2px 5px black;
  transition: opacity 2s ease-in-out;
  z-index: 10;
}

.conteiner_cortinas.aberta ~ .palco-texto{
  opacity: 1;
}


/* palco */

.conteiner-palco{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1; /* atrás das cortinas */
}

.palco{
  width: 100%;
  height: 100%;
  background-image: url(chao-teatro.png);
  background-position: bottom center;
  box-shadow: inset 0px 40px 20px black;
}

.palco img{
  width: 100%;
  transform: translateY(0%);
  transition: transform 1s ease-in-out;

}

#img.subir {
  transform: translateY(-40%);
}

  /* Botão */
.botao{
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px 20px;
  background: gold;
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0,0,0,0.4);
  transition: 0.3s;
  z-index: 20;
}
.botao:hover{
    background: orange;
}

/* roteiro */

.conteiner_roteiro{
  width: 25%;
  height: 65%;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Georgia", serif;
  z-index: 30;
  perspective: 1200px;
  opacity: 0;
}

.pagina{
  backface-visibility: hidden;
  transition: transform 0.8s ease;
  transform-origin: left;
}

.pagina.virar{
  transform: rotateY(-180deg);
}

.pagina1{
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;  
  flex-flow: column;
  line-height: 2rem;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
  z-index: 6;
}

.pagina1 img{
  width: 15vw;
  transform: translate(-10%, 30%);
}

.pagina1 .texto_roteiro{
  transform: translateY(130%);
}

.pagina1 h1{
  font-size: 2.3rem;
  font-weight: 200;
}

.pagina1 p{
  font-size: .8rem;
  text-align: center;
  transform: translateX(-1%);
}

.pagina{
  width: 100%;
  height: 100%;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  transition: transform 0.8s ease, box-shadow 0.8s ease;
  transform-origin: left;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.conteiner_roteiro .pagina2{
  z-index: 5;
}

.texto-pag{
  padding: 25px;
}

.texto-pag h1{
  font-weight: 200;
}

.texto-pag p{
  font-size: .9rem;
}

.conteiner_roteiro .pagina3{ 
  z-index: 4;
  line-height: 5rem;
}

.texto-pag2 h1{
  font-weight: 200;
}

.texto-pag2 p{
  font-size: 1.2rem;
}

.conteiner_roteiro .pagina4{ 
  z-index: 3;
  flex-flow: column;
}

.convite-texto{
  line-height: 6rem;
}

.conteiner_button{
  display: flex;
  justify-content: space-between;
}

.button_sim{
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.button_nao{
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
}

#EladisseSim{
  font-size: 1.2rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #730220;
}

/* ---cilindro nas pag--- */

.cilindro{
  position: absolute;
  left: 0; 
  top: 0%;
  height: 100%;
  width: 15px;
  background-color: whitesmoke;
  z-index: 10; 
  border-radius: 5px;
  transform: translateX(-10%);
  box-shadow: 3px 3px 7px 2px rgba(0,0,0,0.3);
  filter: blur(10%);
}

#fogos {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
  pointer-events: none;
}

.pagina4 img{
  display: none;
}

/* ---MEDIA QUERIES--- */

@media screen and (max-width: 600px) {
  
  .botao{
    padding: 15px 10px;
    font-size: 1rem;
  } 

  .holofote_center, .holofote_left,.holofote_right{
    width: 30%;
  }

  .holofote_right{
    transform: translateX(-40%);
    rotate: 10deg;
  }

  .holofote_left{
    rotate: -10deg;
    transform: translateX(40%);
  }

  .conteiner-palco{
    overflow: hidden;
  }

  .palco img{
    width: 200%;
    transform: translateY(40vw);
    transition: transform 1s ease-in-out;
  }

  #img.subir {
    transform: translateY(0vw);
  }

  /* roteiro */

  .conteiner_roteiro{
    width: 80%;
  }

  .pagina1 img{
    width: 50vw;
  }

  .pagina1 p{
    font-size: .9rem;
  }

  .convite-texto h1{
    transform: translateX(2%);
  }

  .conteiner_button{
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  .button_sim{
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
  }

  .button_nao{
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
  }

  #fogos {
    z-index: 40;
  }

}